@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PortalOgloszeniowy</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>


    @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">*@
    <div class="navbar-nav ms-auto align-middle ">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <button type="button" class="btn btn-sm btn-outline-secondary">   
                    <a class="nav-link text-dark" asp-area="" asp-controller="Advert" asp-action="Create">Dodaj Ogłoszenie</a>
                </button>
            </li>
@if(signInManager.IsSignedIn(User))
{

    <li class="nav-item">
        <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Profile">Profil</a>
    </li>
     <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Wyloguj</a>
    </li>
    
}
else
{
    
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
            </li>
}
         </ul>

    </div>
