@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<h2>Witaj @User.Identity</h2>
<h4>Twoje ogłoszenia</h4>

@foreach(var adv in ViewBag.Adverts)
{
   <a href="/advert/@adv.slug">@adv.Title</a> <br/>
}