@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<h1>Witaj @User.Identity.Name</h1>

@foreach(var adv in ViewBag.Adverts)
{
   <a href="/advert/@adv.slug">@adv.Title</a> <br/>
}