@model PortalOgloszeniowy.Models.ViewModels.SearchViewModel


<flash dismissable="true" />

<form method="post" >
<div class="input-group mb-3 ">

<input asp-for="SearchPhrase" class="form-control " />
<span asp-validation-for="SearchPhrase" class="text-danger"></span>
<div class="input-group-append">
<button class="btn btn-outline-secondary btn-lg" type="submit">Szukaj</button>
</div>

</div>
</form>

<h1 class="display-3 text-center">Kategorie</h1>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col">
            <a href="/motoryzacja"><i  style="display:block" class="fa-solid fa-car fa-8x"></i>Motoryzacja</a>
        </div>
        <div class="col">
            <a href="/nieruchomości"><i style="display:block" class="fa-solid fa-house-chimney fa-8x"></i>Nieruchomości</a>
        </div>
        <div class="col">
           <a href="/elektronika">  <i style="display:block" class="fa-solid fa-laptop fa-8x"></i>Elektronika</a>
        </div>
        <div class="col">
           <a href="/moda" > <i style="display:block" class="fa-solid fa-shirt fa-8x"></i>Moda</a>
        </div>
    </div>
</div>

<h1 class="display-4 text-center" style="margin-top:15%">Ogłoszenia sponsorowane</h1>


<div class="container mt-5 text-center">

        <div class="card-group">
@foreach(var adv in ViewBag.PremiumAdverts)
{
  
    <div class="card">
    <img href="advert/@adv.slug" class="card-img-top" width="351" height="160" src="@adv.ImageUrl" alt="Card image cap">
      <a style="text-decoration:none; color:black;" target="_blank" href="advert/@adv.slug">
    <div class="card-body">
      <h5 class="card-title">@adv.Title</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted">@adv.Created_at</small>
    </div>
       </a>

  </div>
 

}
        </div>
    <div>
