@model PortalOgloszeniowy.Models.Advert

<div class="modal fade" id="addPremium" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ulepsz swoje ogłoszenie.</h5>
      </div>
      <div class="modal-body">
        <label>Podaj numer karty kredytowej.</label>
        <input type="text"/>
      </div>
      <div class="modal-footer">
         <form method="post" asp-antiforgery="false" asp-action="PremiumAdvert" asp-controller="Advert"> 
             <input type="hidden" asp-for="@Model.Id" id="advertId" name="advertId" />
            <button type="button" class="btn btn-info" data-save="modal">Zamknij</button>
             <input type="submit" class="btn btn-success" asp-route-Id="@Model.Id" asp-controller="Advert" asp-action="PremiumAdvert" value="Ulepsz"/>
         </form>

      </div>
    </div>
  </div>
</div>