
@foreach(var adv in ViewBag.Adverts)
{
  <a style="text-decoration:none; color:black" href="~/advert/@adv.slug">
    <div class="card w-75">
    <div class="card-body row">
        <h5 class="h5 card-title col">@adv.Title</h5>
        <div class="col"><p class="text-end"  ><i class="bi bi-stopwatch fa-lg"></i> @adv.Price zł</p> </div>
        <small class="text-muted">
          <cite title="Source Title">@adv.Location</cite>
          <cite title="Source Title">@adv.Created_at</cite>
        </small>
    </div>
   </div>
   </a>
}
