html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:black;
}
.category {
    box-sizing: border-box;
    padding:25px;
}
.category:hover {
        transition-duration: .7s;
        background-color: #9da7a8;
        border-radius: 10px;
        color: white;
    }
.category:hover i {
        transition-duration: .7s;
        color: white;
    }
.card:hover ~ .card_title {
    border: 3px solid black;
}

